<%= link_to 'Back', admin_root_url %>
<div>
  <% if flash[:alert] %>
   <%= flash[:alert] %>
  <% end %>
</div>
<h1 class="page-header">Chatrooms</h1>
<br/>
<% @chatrooms.each do |chatroom| %>
  <p>Chatroom #<%= chatroom.id %></p>
  <p>
    Members:
    <%= chatroom.friendship.user.first_name %> (user <%= chatroom.friendship.user.id %>) and
    <%= chatroom.friendship.friend.first_name %> (user <%= chatroom.friendship.friend.id %>)
    <br/>
  </p>
<% end %>
