<div>
  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
</div>

<div class='chatroom-main'>
  <h1 class='edit-heading'>Chatrooms</h1>
      <% @chatrooms.each do |chatroom| %>
      <p>
        Chatroom between
        <%= chatroom.friendship.user.first_name %> and
        <%= chatroom.friendship.friend.first_name %> </p>
      <p class='button filled'><%= link_to 'Show', chatroom %></p>


      <% end %>
</div>

<br />
<p class='button filled'>
  <%= link_to 'New Chatroom', new_chatroom_path %>
</p>
