<h1>Welcome To The Chatroom <%= @chatroom.id %> </h1>
<% @messages %>


<%= react_component("Chatrooms", props: {name: current_user.first_name, messages: @messages}) %>

<%= form_for @message, remote: true do |f| %>
  <%= f.text_area :content %><br>
   <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
  <%= f.submit 'Submit', class: 'form-button', data: {send: "message"} %>
<% end %>
