<h1>Edit Settings</h1>

<div class='flash-message'>
  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
</div>

<div class='button filled'>
  <span><%= link_to 'Home', :root %></span>
</div>

<div class='user edit form'>

  <div class='user form'>
    <%= form_for (@user) do |f| %>
      <span class='form-field-input'> <%= f.text_field :first_name, value: current_user.first_name %></span>
      <span class='form-field-input'> <%= f.text_field :last_name, value: current_user.last_name %></span>
      <span class='form-field-input'> <%= f.text_field :email, value: current_user.email %></span>
      <span class='form-field-input'> <%= f.password_field :password, placeholder: 'Change Password'%></span>
      <span class='form-field-input'> <%= f.text_field :bio, placeholder: 'Enter your Bio' %></span>

      <div>
        <% @interests.each do |interest| %>
          <div>
            <%= check_box_tag :interest_ids, interest.id, @user.interests.include?(interest), :name => 'user[interest_ids][]' %>
            <%= label_tag :interest_id, interest.name %>
          </div>
        <% end %>
      </div>

      <span class="image-uploader">
        <%= f.label :profile_picture %><br>
        <%= f.file_field :profile_picture %>
      </span>

      <%= f.submit 'Submit', class: 'form-button' %>
    <% end %>
  </div>
</div>

<%= link_to "/users/#{current_user.id}" do %>
  <div class='button filled'>
    <span>Profile page</span>
  </div>
<% end %>
