<div class='navbar-wrapper'>
  <div class='navbar'>
    <div class='nav-brand'>
      <%= link_to :root do %><i class='fa fa-search' aria-hidden='true'></i> Find Me Friends<% end %>
    </div>
    <div class='nav-btn'>
      <label for='nav-check'>
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <input type='checkbox' id='nav-check'>
    <div class='nav-links'>
      <% if current_user %>
        <span class='nav-link'>
          <%= link_to chatrooms_path do %><i class='fa fa-comments-o' aria-hidden='true'></i> Chatrooms<% end%>
        </span>
        <span class='nav-link'>
          <%= link_to profiles_path do %><i class='fa fa-user-circle' aria-hidden='true'></i> <%= current_user.first_name%> <%=current_user.last_name %> <% end%>
        </span>
        <span class='nav-link'>
          <%= link_to edit_user_path(current_user.id) do %><i class='fa fa-pencil' aria-hidden='true'></i> Edit<% end%>
        </span>
        <span class='nav-link nav-auth'>
          <%= link_to logout_path do %><i class='fa fa-sign-out' aria-hidden='true'></i> Logout<% end %>
        </span>
      <% else %>
        <span class='nav-link nav-auth'>
          <%= link_to 'Login', login_path %>
        </span>
        <span class='nav-link nav-auth'>
          <%= link_to 'Sign Up', new_user_path %>
        </span>
      <% end %>
    </div>
  </div>
</div>
