<div class='navbar-wrapper'>
  <div class='navbar'>
    <div class='nav-brand'>
        <%= link_to 'Find Me Friends', :root %>
    </div>

    <div class='nav-btn'>
      <label for='nav-check'>
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <input type='checkbox' id='nav-check'>

    <div class='nav-links'>
      <% if current_user %>
        <span class='nav-link'>
          <%= link_to 'Chatrooms', chatrooms_path %>
        </span>
        <span class='nav-link'>
          <%= link_to "#{current_user.first_name} #{current_user.last_name}", profiles_path %>
        </span>
        <span class='nav-link'>
          <%= link_to 'Edit Settings', edit_user_path(current_user.id) %>
        </span>
        <span class='nav-link nav-auth'>
          <%= link_to 'Logout', logout_path %>
        </span>
      <% else %>
        <span class='nav-link nav-auth'>
          <%= link_to "Login", login_path %>
        </span>
        <span class='nav-link nav-auth'>
          <%= link_to "Sign Up", new_user_path %>
        </span>
      <% end %>
    </div>
  </div>
</div>
