<!DOCTYPE html>
<html>
  <head>
    <title>FindMeFriends</title>
    <!-- Mitigates cross-site request forgery -->
    <%= csrf_meta_tags %>
    <!-- Links to chat -->
    <%= action_cable_meta_tag %>
    <!-- Links to master stylesheet -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Links to master React javascript file -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/top_nav' %>

    <main class='container'>
      <%= yield %>
    </main>

  </body>
</html>
