<!DOCTYPE html>
<html>
  <head>
    <title>FindMeFriends</title>
    <!-- Mitigates cross-site request forgery -->
    <%= csrf_meta_tags %>
    <!-- Links to chat -->
    <%= action_cable_meta_tag %>
<<<<<<< HEAD
    <!-- Links to master stylesheet -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Links to master React javascript file -->
=======

    <!-- Source to include font-awesome icons -->
    <script src='https://use.fontawesome.com/d76e3bcf8a.js'></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
>>>>>>> b305205a023caf850a3e57dfbe3ecd977d18b2f7
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/top_nav' %>

    <main class='container'>
      <%= yield %>
    </main>

<<<<<<< HEAD
=======
    <%= render 'layouts/footer' %>
>>>>>>> b305205a023caf850a3e57dfbe3ecd977d18b2f7
  </body>
</html>
